body {
    font-size: 1em;
}
header {
    /*position: fixed;*/
    width: 100%;
    height: 10em;
    display: flex;
    background-color: tomato;
    justify-content: space-around;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}
footer {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: tomato;
    justify-content: space-around;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}
button ,h1 {
    margin: auto;
    text-align: center;
    display: inline-block;
}
button {
    background-color: #fff;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
}
button > h1 {
    padding: 3px;
}
div {
    align-items: center;
}
div.container:last-child {
    display: flex;
}
span {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}
.wrapper {
    width: 100%;
    height: 40rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sidebar {
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex: 1;
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    flex-direction: column;
}
.container {
    width: 100%;
    height: 100%;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}
.box {
    position: relative;
    border: 1px solid black;
    display: flex;
    width: 3rem;
    height: 3rem;
}
.aqua {
    background-color: aqua;
}
.pink {
    background-color: deeppink;
}
.green {
    background-color: chartreuse;
}
.purple {
    background-color: purple;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.dk-grey {
    background-color: #a9a9a9;
}
.yellow {
   background-color: yellow;
}
.cursor {
    cursor: pointer;
}
.hide {
    display: none;
}
